In [1]:
import pandas as pd
import numpy as np

## 1. Importing Dataset

In [2]:
stats = pd.read_csv("mvps_player_team.csv" , index_col = 0)

In [3]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,0.0,0.0,Los Angeles Lakers,58.0,24.0,0.707,5.0,106.3,99.6,6.73
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,0.0,0.0,Los Angeles Lakers,58.0,24.0,0.707,5.0,106.3,99.6,6.73
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,0.0,0.0,Los Angeles Lakers,58.0,24.0,0.707,5.0,106.3,99.6,6.73
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,0.0,0.0,Los Angeles Lakers,58.0,24.0,0.707,5.0,106.3,99.6,6.73
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,0.0,0.0,Los Angeles Lakers,58.0,24.0,0.707,5.0,106.3,99.6,6.73

In [4]:
stats.shape

(14697, 41)

### Checking Null values in each column

In [5]:
pd.isnull(stats).sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          59
3P            0
3PA           0
3P%        2086
2P            0
2PA           0
2P%         100
eFG%         59
FT            0
FTA           0
FT%         521
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W           401
L           401
W/L%        401
GB          401
PS/G        401
PA/G        401
SRS         401
dtype: int64

In [6]:
stats = stats.fillna(0)

In [7]:
pd.isnull(stats).sum()

Player     0
Pos        0
Age        0
Tm         0
G          0
GS         0
MP         0
FG         0
FGA        0
FG%        0
3P         0
3PA        0
3P%        0
2P         0
2PA        0
2P%        0
eFG%       0
FT         0
FTA        0
FT%        0
ORB        0
DRB        0
TRB        0
AST        0
STL        0
BLK        0
TOV        0
PF         0
PTS        0
Year       0
Pts Won    0
Pts Max    0
Share      0
Team       0
W          0
L          0
W/L%       0
GB         0
PS/G       0
PA/G       0
SRS        0
dtype: int64

## 2. Predictor and Target columns

In [8]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [9]:
predictor = ['Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
        'W', 'L', 'W/L%', 'GB', 'PS/G','PA/G', 'SRS']

In [10]:
# stats['Pos'].unique()

In [11]:
stats["Year"].unique()

array([1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2017, 2010, 2011, 2012, 2013, 2014, 2015, 2008, 2009,
       2016, 2018, 2019, 2020, 2021, 2022, 2004, 2005, 2006, 2007],
      dtype=int64)

In [12]:
stats['Year'].sort_values(ascending = True)

0        1991
10197    1991
378      1991
377      1991
376      1991
         ...
12291    2022
12290    2022
12289    2022
843      2022
1897     2022
Name: Year, Length: 14697, dtype: int64

In [13]:
stats = stats.sort_values(by = ["Year" ]  , ascending = True)

In [14]:
stats["Year"].unique()

array([1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022],
      dtype=int64)

In [15]:
stats = stats.reset_index(drop = True)

In [16]:
stats.head(10)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,0.0,0.000,Los Angeles Lakers,58.0,24.0,0.707,5.0,106.3,99.6,6.73
1,Avery Johnson,PG,25,SAS,68,14,14.1,1.9,4.1,0.469,...,0.0,0.000,San Antonio Spurs,55.0,27.0,0.671,0.0,107.1,102.6,4.30
2,Stojko Vranković,C,27,BOS,31,0,5.4,0.8,1.7,0.462,...,0.0,0.000,Boston Celtics,56.0,26.0,0.683,0.0,111.5,105.7,5.22
3,Robert Parish,C,37,BOS,81,81,30.1,6.0,10.0,0.598,...,960.0,0.010,Boston Celtics,56.0,26.0,0.683,0.0,111.5,105.7,5.22
4,Reggie Lewis,SG,25,BOS,79,79,36.4,7.6,15.4,0.491,...,0.0,0.000,Boston Celtics,56.0,26.0,0.683,0.0,111.5,105.7,5.22
5,Michael Smith,PF,25,BOS,47,3,8.3,2.0,4.3,0.475,...,0.0,0.000,Boston Celtics,56.0,26.0,0.683,0.0,111.5,105.7,5.22
6,Larry Bird,SF,34,BOS,60,60,38.0,7.7,17.0,0.454,...,960.0,0.026,Boston Celtics,56.0,26.0,0.683,0.0,111.5,105.7,5.22
7,Kevin McHale,PF,33,BOS,68,10,30.4,7.4,13.4,0.553,...,960.0,0.001,Boston Celtics,56.0,26.0,0.683,0.0,111.5,105.7,5.22
8,Kevin Gamble,SF,25,BOS,82,76,33.0,6.7,11.4,0.587,...,0.0,0.000,Boston Celtics,56.0,26.0,0.683,0.0,111.5,105.7,5.22
9,Joe Kleine,C,29,BOS,72,1,11.8,1.4,3.0,0.468,...,0.0,0.000,Boston Celtics,56.0,26.0,0.683,0.0,111.5,105.7,5.22

# Trianing and Test dataset

In [17]:
d_train = stats[stats["Year"] <2022]
d_test = stats[stats["Year"]  == 2022]

In [18]:
# d_train["Year"].unique()

In [19]:
X_train = d_train[predictor]
y_train = d_train["Share"]
X_test =  d_test[predictor]
y_test =  d_test["Share"]

In [20]:
X_train.shape

(14092, 34)

In [21]:
y_train.shape

(14092,)

In [22]:
X_test.shape

(605, 34)

In [23]:
y_test.shape

(605,)

## ML Model

In [24]:
import sklearn

In [25]:
from sklearn.linear_model import Ridge

In [26]:
reg = Ridge(alpha = 0.1)

In [27]:
reg.fit(X_train , y_train)

Ridge(alpha=0.1)

In [28]:
predictions = reg.predict(X_test)

In [29]:
predictions

array([ 1.12601817e-02, -2.81279374e-02, -9.84929600e-03, -9.73718521e-03,
       -2.86412124e-02,  2.50684173e-02, -1.73659054e-02,  9.86517719e-03,
        5.82394430e-03,  3.05874935e-02,  2.64989891e-02, -1.09668315e-02,
       -2.50146210e-02,  2.25802401e-02, -6.68711065e-03,  1.64819766e-02,
        3.55813556e-03,  1.23742160e-02,  6.69594326e-02,  7.74589774e-02,
       -2.06998234e-02, -1.35079183e-02,  1.40282775e-02, -1.87259405e-02,
       -1.57216635e-02, -1.35160024e-02, -2.51430612e-02,  2.58506394e-02,
        1.09544781e-02, -9.33510119e-04,  2.05023934e-02,  2.42371331e-02,
        5.93238034e-03, -1.20226477e-02, -5.32352655e-03,  1.70349970e-02,
       -4.08968082e-03, -6.32054933e-03, -3.84947934e-03, -6.36872498e-03,
       -1.49475223e-02,  1.24513261e-03,  4.55058397e-02, -1.08095847e-02,
       -2.07925023e-02, -1.76528103e-02,  1.82182629e-04, -2.19305521e-02,
        8.97470376e-04,  9.50695227e-03, -4.45649829e-03,  2.73804376e-02,
       -2.58747101e-02, -1.00552363e-02,  2.03868740e-02,  2.16313770e-03,
       -8.36431669e-03,  1.50725125e-02,  2.22577125e-02, -9.63671933e-03,
        1.08978627e-01, -6.43016993e-02,  7.60713647e-03,  1.81439299e-02,
       -1.76978317e-02, -2.55942317e-02,  3.64609417e-03,  1.50049278e-02,
        3.03619720e-04,  1.33319918e-02,  1.87872608e-02,  3.04276217e-02,
       -1.11940932e-02,  1.56638931e-01,  7.55970340e-03,  1.14541876e-03,
        7.83375526e-03,  9.95099011e-03, -3.26786656e-02,  9.70227298e-02,
        1.58090808e-02, -3.17646585e-02,  3.58309642e-02,  5.40328248e-03,
       -1.83713347e-02, -9.57823950e-03,  6.11298435e-03, -7.95887085e-03,
        3.43155897e-02,  6.93716145e-04, -1.57255026e-02, -2.36955198e-03,
        2.77134592e-03,  2.13643908e-04, -1.06336239e-02, -1.19324987e-02,
       -1.70976927e-02, -1.29907870e-03, -1.12882978e-02, -1.42456293e-02,
       -1.15784781e-03, -3.51153850e-02, -1.58842693e-02,  2.66714629e-02,
        5.13326047e-02, -1.27079432e-02,  1.35046729e-02, -2.71669208e-02,
       -5.66348220e-03,  2.98194980e-02, -7.35671158e-03,  2.18988364e-01,
       -2.20585013e-02,  5.26330744e-02, -1.66273235e-02,  1.63854383e-02,
        2.34514037e-02, -2.33506097e-02, -8.00777912e-03, -2.16998562e-03,
       -1.03206823e-02,  3.29756990e-03,  2.49842333e-02,  3.78872911e-02,
        2.50522269e-03,  3.52223066e-03, -3.22675382e-02, -9.57035432e-04,
       -3.71164468e-03, -8.17041659e-04,  6.90937779e-02, -6.71834285e-03,
       -6.58061554e-03,  1.10677060e-02,  1.32094927e-02,  9.83913447e-04,
        1.32397484e-02,  9.02686168e-03, -1.64224659e-02, -4.48570065e-03,
        1.03644509e-02,  1.06960715e-02,  2.40857059e-04, -3.04387747e-02,
       -8.37536233e-03,  3.11381276e-03, -1.02734413e-02, -6.78656853e-03,
        3.18292918e-02,  2.87062453e-02,  6.51833129e-03,  2.57862418e-03,
       -2.27201959e-02, -6.56608129e-04,  7.30675419e-04,  8.52581583e-03,
       -2.40063583e-03,  9.03203060e-03,  1.09204016e-02,  1.96326699e-02,
       -1.58603769e-03,  7.70335709e-03,  7.83630841e-03, -2.71621664e-02,
        3.90533195e-02, -3.52537180e-03,  3.06417140e-02, -1.76661305e-02,
       -1.95900106e-03,  9.14011345e-02,  6.66615423e-02,  7.84601512e-02,
       -7.56967243e-03,  1.78909751e-02,  1.88509209e-02, -5.17114261e-03,
        1.13704795e-03,  1.05309961e-02, -4.26600484e-03, -3.79584925e-04,
       -6.23957809e-03, -8.60774423e-03, -1.43097652e-02, -3.27942535e-02,
       -1.14703730e-02,  1.72322122e-02,  4.40763500e-03, -2.55297611e-02,
        1.84815133e-03, -2.56690102e-02,  1.40249231e-04,  6.27856438e-02,
        7.36512643e-03, -9.07783470e-03, -2.56415994e-02, -1.98180542e-02,
        5.38813643e-02,  4.91501028e-03,  3.24225386e-02, -8.13360395e-03,
       -7.14708802e-03, -1.29784122e-02,  1.85087484e-03, -3.22835445e-02,
       -5.76676253e-04,  5.40350312e-02, -6.61349399e-03,  1.40508099e-03,
        5.83567909e-03,  3.38375440e-02,  4.11585811e-02, -5.44827391e-02,
        2.15635685e-03,  5.14113147e-03, -9.23739899e-03, -1.81714756e-02,
        8.63912357e-03, -8.88704137e-03, -2.33472834e-02, -4.34100299e-03,
        1.62063021e-02,  3.16971930e-02, -2.44763616e-02, -1.37166291e-02,
       -2.65071271e-02, -2.32952982e-02,  1.62437725e-02, -7.31013516e-03,
       -6.34857040e-02, -2.38190123e-03,  9.20800825e-02, -5.88862019e-03,
       -1.87711911e-02,  5.33194939e-02,  6.58801209e-02,  9.70769458e-03,
        2.07350285e-02,  3.56460638e-02,  5.46645048e-03,  3.35245430e-03,
       -1.40945733e-02, -2.65504776e-02,  2.72253967e-03, -7.01907558e-05,
        7.46321619e-02, -9.55574774e-03,  2.51443329e-02,  5.17374327e-03,
       -2.56684671e-03,  5.36089782e-03,  6.75110580e-03,  1.70712282e-02,
       -3.37891484e-03,  2.04921040e-02,  6.05365786e-03,  1.18387595e-03,
        2.90272960e-03, -9.99432488e-03, -1.11379853e-02,  2.51019576e-02,
        5.42168404e-02, -5.40335349e-04,  2.52453189e-02, -1.73966768e-02,
       -2.66419473e-03, -1.43182892e-02,  4.08576525e-02,  4.76073755e-02,
        2.66588363e-02,  9.41247699e-03, -2.04823791e-02,  1.57545462e-01,
       -2.10875243e-02, -2.71833507e-02,  1.19979405e-02,  9.86627097e-03,
       -7.42689406e-03, -2.32232865e-02,  1.49787544e-02, -3.50340644e-02,
       -1.50541930e-02,  1.08185552e-01,  1.39969136e-02,  5.78986748e-03,
        2.19564853e-03, -1.34178334e-02, -9.14356306e-03,  7.67104977e-02,
        3.94965461e-02, -1.13120747e-02, -1.12423317e-02, -9.37889612e-03,
       -1.27136747e-02, -1.96369666e-03,  2.00381950e-02, -1.29842138e-02,
       -1.81607847e-02, -6.58123028e-03,  5.05224495e-02, -1.68912148e-02,
       -7.99986572e-03,  2.05861826e-02,  2.39418981e-03,  1.78880954e-02,
        1.07231383e-02, -8.93224220e-04, -1.26959826e-02, -9.15507862e-03,
       -1.35798351e-02,  9.44582373e-02, -1.49529138e-02, -9.18220921e-04,
        9.87691815e-03, -1.55641641e-02, -4.23610490e-03, -2.54057020e-02,
        3.83926879e-02,  3.75114094e-02,  3.90962144e-04,  1.93936647e-02,
        3.75712417e-03, -1.07275472e-02, -6.96820781e-03,  1.70600057e-02,
        3.99999909e-03, -1.56169030e-02,  3.03549626e-04, -1.08714045e-02,
        4.25302591e-03, -5.74232592e-03, -1.47896876e-02, -1.22158418e-01,
        2.32232653e-02, -1.71891923e-02, -2.19861911e-02,  4.53795955e-03,
       -5.34771765e-02,  8.90210037e-02, -1.12204050e-03, -1.91781011e-02,
       -5.02808081e-03, -3.01571573e-02, -6.34235712e-02,  1.10371881e-02,
        9.14161847e-02,  8.90692830e-04, -1.82691472e-02, -1.50443326e-02,
        9.19910175e-03, -4.67328309e-03, -1.72647150e-02, -5.54010354e-03,
       -6.86947640e-03,  2.34038248e-02,  1.62061312e-03,  1.76237295e-02,
       -8.29576661e-04,  2.46567547e-02, -2.27307009e-02, -2.47633672e-02,
       -3.45554146e-03,  6.80023443e-02,  9.42359876e-02, -1.72688462e-02,
       -4.60004757e-02, -1.53833423e-02, -4.70295853e-03,  1.87158901e-03,
        8.77969188e-03,  1.19536472e-02,  6.26826127e-03,  3.29702022e-04,
        1.10385420e-02,  1.00207695e-02, -2.65441784e-02,  6.03875064e-03,
        2.08446540e-02, -5.08791988e-04,  2.99631721e-02, -2.94498846e-03,
       -1.26204880e-02, -2.75560536e-03,  3.92669103e-04, -1.34224467e-02,
       -9.46805603e-03, -3.15037845e-03,  4.02260276e-03,  7.24911152e-02,
       -8.23165844e-03, -1.16166503e-02, -2.68017269e-02, -7.75315624e-03,
       -1.64523819e-02,  5.34002354e-02, -2.47396559e-03,  6.44257633e-03,
        1.25760642e-03, -3.23502057e-04,  2.15696227e-02, -1.19402060e-02,
       -2.95321933e-03, -1.35053970e-02,  1.00174247e-01, -9.28871472e-03,
        1.03915899e-01,  1.90322274e-01, -1.99912103e-02, -1.00891027e-03,
        2.85965196e-03,  1.74633097e-02, -3.01190112e-02, -4.30182728e-03,
       -1.51573411e-03, -3.49192156e-03,  1.08759385e-02,  1.64933199e-02,
       -1.34634236e-02,  3.14619573e-02, -4.80670706e-04,  4.35289496e-04,
        4.17998395e-02,  1.20549785e-01,  1.78275591e-02,  2.96630100e-02,
        1.85971271e-02,  1.62199970e-02,  1.31777694e-03,  3.53245359e-02,
       -1.03784342e-02,  3.65651887e-03, -7.82818000e-03, -1.78252034e-03,
       -4.87017126e-03, -1.32753008e-02, -1.51083294e-02, -1.20933778e-02,
        9.89605564e-03,  4.16326914e-04, -1.39510121e-03,  2.29808152e-03,
        1.76975149e-02, -2.58518760e-02, -7.64825493e-03,  2.34979064e-02,
       -1.17868808e-02,  2.31057022e-02, -3.22988503e-02, -2.33381347e-02,
       -3.59945221e-04,  1.61812188e-02,  3.11972147e-03,  4.62189317e-02,
       -3.19272863e-02,  1.28414660e-02, -1.38505871e-03, -7.01659170e-03,
        3.28535137e-03, -2.05909881e-02, -7.60099768e-03,  1.13789688e-02,
       -3.70678046e-03,  6.14123051e-03,  1.88931209e-01, -2.20323936e-02,
        8.24515780e-02,  2.66919229e-03, -1.67400890e-02,  8.23923828e-03,
       -8.05858434e-03, -1.32398049e-02, -7.46702690e-03, -1.70490321e-02,
        8.99891687e-02, -1.13880133e-02,  2.57299938e-04,  2.69988762e-02,
       -1.52510281e-02, -1.84181662e-02,  2.39971534e-03, -2.41506422e-02,
        6.97189504e-03, -2.27411131e-02,  3.25166371e-02, -2.97396713e-03,
        2.66550249e-02, -1.40232968e-02,  7.31263344e-03, -1.61573587e-02,
        2.23147679e-04, -1.69890134e-02,  3.43187221e-03, -2.05243215e-02,
        4.66405743e-02,  3.12802401e-03, -1.50060620e-03,  7.74583637e-03,
        2.60929544e-02,  1.58133664e-02, -1.10582441e-03,  6.93994212e-03,
        9.49246628e-03,  9.95118427e-04, -1.69261420e-02, -1.36790003e-02,
       -2.28486184e-02,  7.36538643e-03,  7.80552921e-02,  3.43790589e-02,
        1.08980703e-02,  1.32950698e-02, -1.68145320e-03,  4.01930497e-03,
        2.30093934e-02,  2.78559256e-02,  1.35127928e-02, -1.19951682e-03,
        4.59312986e-03,  4.64905055e-03, -7.98714759e-03, -1.30123513e-02,
       -1.35776546e-02, -2.97656944e-03,  9.06708106e-03,  3.77820377e-02,
        2.75287601e-02,  1.78616134e-02,  2.84707289e-02,  9.07119228e-04,
       -8.87080262e-03,  2.61511527e-02,  8.21514239e-03, -1.89937585e-02,
       -1.19268703e-02, -2.75081561e-02, -4.24573641e-02,  8.28196753e-03,
        5.03410438e-03, -1.67760534e-02, -3.73364366e-03, -2.38307672e-02,
        1.19305187e-02,  2.53016797e-02,  6.93313192e-02,  1.40686573e-01,
       -3.13640850e-02, -3.83749971e-02, -1.85724873e-02,  6.75687702e-02,
        2.08651336e-02, -8.78653511e-03,  2.94900611e-02, -1.54815889e-02,
       -5.07435132e-04, -1.47932330e-02,  4.56208985e-02, -8.00772904e-03,
        1.28631176e-02,  1.94517879e-02,  2.11521434e-04,  1.03493886e-02,
       -1.57861269e-02, -3.42717997e-02, -8.17953383e-03,  3.34322731e-03,
       -7.68001592e-03, -9.98114625e-03,  1.07339238e-02,  5.54169261e-02,
        8.41593940e-03,  3.16529817e-02, -2.14731234e-02, -5.74701306e-04,
       -1.25895869e-02, -7.31235133e-03, -2.16215715e-02,  5.60230124e-02,
        5.31256359e-02, -1.75589452e-03, -1.02659661e-03,  1.64589409e-02,
       -3.78555180e-03, -4.37129586e-03,  1.76215837e-03, -2.64189671e-04,
       -5.50662380e-03, -9.74985789e-03, -2.94189753e-03,  8.59775812e-04,
       -1.01983245e-02,  7.61547629e-02, -1.27244315e-02,  8.57683816e-03,
        4.13150272e-03, -3.33862419e-02,  1.01881728e-03,  1.46585533e-02,
       -1.03228799e-03, -2.66002943e-03,  8.84233811e-03,  3.07363162e-02,
        1.19168612e-02, -8.21755560e-03, -6.00465574e-04,  2.79988041e-02,
       -4.15238625e-02])

In [30]:
X_test.index

Int64Index([14092, 14093, 14094, 14095, 14096, 14097, 14098, 14099, 14100,
            14101,
            ...
            14687, 14688, 14689, 14690, 14691, 14692, 14693, 14694, 14695,
            14696],
           dtype='int64', length=605)

In [31]:
pred_DF = pd.DataFrame(data = predictions , columns = ["prediction"] , index = X_test.index )

In [32]:
pred_DF

       prediction
14092    0.011260
14093   -0.028128
14094   -0.009849
14095   -0.009737
14096   -0.028641
...           ...
14692    0.011917
14693   -0.008218
14694   -0.000600
14695    0.027999
14696   -0.041524

[605 rows x 1 columns]

### Concatenating

In [33]:
X_test.columns

Index(['Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P',
       '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year', 'W', 'L', 'W/L%', 'GB',
       'PS/G', 'PA/G', 'SRS'],
      dtype='object')

In [34]:
combination  = pd.concat([d_test[["Player" , "Share"]] ,pred_DF ], axis = 1)

In [35]:
combination.head()

                 Player  Share  prediction
14092          Mo Bamba    0.0    0.011260
14093       Gary Harris    0.0   -0.028128
14094  Ignas Brazdeikis    0.0   -0.009849
14095       Jalen Suggs    0.0   -0.009737
14096       Jeff Dowtin    0.0   -0.028641

In [36]:
combination.sort_values(by = ["Share"] , ascending = False)

                      Player  Share  prediction
14554           Nikola Jokić  0.875    0.188931
14497            Joel Embiid  0.706    0.190322
14203  Giannis Antetokounmpo  0.595    0.218988
14261           Devin Booker  0.216    0.091401
14165            Luka Dončić  0.146    0.156639
...                      ...    ...         ...
14296          Nassir Little  0.000   -0.000577
14297            D.J. Wilson  0.000    0.054035
14298          Dalano Banton  0.000   -0.006613
14299           Daniel Oturu  0.000    0.001405
14696          Devin Cannady  0.000   -0.041524

[605 rows x 3 columns]

In [37]:
from sklearn.metrics import r2_score

In [38]:
r2_score(combination["Share"] , combination["prediction"])

0.19180073520363206

### Creating rank columns

In [39]:
combination = combination.sort_values(by = ["Share"] , ascending = False )

In [40]:
combination.shape

(605, 3)

In [41]:
len(combination)

605

### Rank For Actual

In [42]:
rank_df = combination.copy()

In [43]:
rank_df.head()

                      Player  Share  prediction
14554           Nikola Jokić  0.875    0.188931
14497            Joel Embiid  0.706    0.190322
14203  Giannis Antetokounmpo  0.595    0.218988
14261           Devin Booker  0.216    0.091401
14165            Luka Dončić  0.146    0.156639

In [44]:
rank_df = rank_df[rank_df["Share"] > 0]
rank_df

                      Player  Share  prediction
14554           Nikola Jokić  0.875    0.188931
14497            Joel Embiid  0.706    0.190322
14203  Giannis Antetokounmpo  0.595    0.218988
14261           Devin Booker  0.216    0.091401
14165            Luka Dončić  0.146    0.156639
14454           Jayson Tatum  0.043    0.094236
14513              Ja Morant  0.010    0.120550
14322          Stephen Curry  0.004    0.092080
14263             Chris Paul  0.002    0.078460
14363           LeBron James  0.001    0.157545
14494          DeMar DeRozan  0.001    0.100174
14635           Kevin Durant  0.001    0.140687

In [45]:
combination["RK_actual"] = list(range(1,len(combination) + 1))
rank_df["RK_actual"] = list(range(1,len(rank_df)+1))

In [46]:
combination.head(15)

                      Player  Share  prediction  RK_actual
14554           Nikola Jokić  0.875    0.188931          1
14497            Joel Embiid  0.706    0.190322          2
14203  Giannis Antetokounmpo  0.595    0.218988          3
14261           Devin Booker  0.216    0.091401          4
14165            Luka Dončić  0.146    0.156639          5
14454           Jayson Tatum  0.043    0.094236          6
14513              Ja Morant  0.010    0.120550          7
14322          Stephen Curry  0.004    0.092080          8
14263             Chris Paul  0.002    0.078460          9
14363           LeBron James  0.001    0.157545         10
14494          DeMar DeRozan  0.001    0.100174         11
14635           Kevin Durant  0.001    0.140687         12
14501             Tyus Jones  0.000    0.017463         13
14502           Tyrell Terry  0.000   -0.030119         14
14492           Devon Dotson  0.000   -0.002953         15

In [47]:
combination.tail()

              Player  Share  prediction  RK_actual
14296  Nassir Little    0.0   -0.000577        601
14297    D.J. Wilson    0.0    0.054035        602
14298  Dalano Banton    0.0   -0.006613        603
14299   Daniel Oturu    0.0    0.001405        604
14696  Devin Cannady    0.0   -0.041524        605

### Rank for prediction

In [48]:
rank_df = rank_df.sort_values(by = ["prediction"] , ascending = False)

In [49]:
combination = combination.sort_values(by = ["prediction"] , ascending = False)

In [50]:
combination["RK_predict"] = list(range(1,len(combination)+1))
rank_df["RK_predict"] = list(range(1,len(rank_df)+1))

In [51]:
combination.head(10)

                      Player  Share  prediction  RK_actual  RK_predict
14203  Giannis Antetokounmpo  0.595    0.218988          3           1
14497            Joel Embiid  0.706    0.190322          2           2
14554           Nikola Jokić  0.875    0.188931          1           3
14363           LeBron James  0.001    0.157545         10           4
14165            Luka Dončić  0.146    0.156639          5           5
14635           Kevin Durant  0.001    0.140687         12           6
14513              Ja Morant  0.010    0.120550          7           7
14152             Trae Young  0.000    0.108979        424           8
14373          Anthony Davis  0.000    0.108186        526           9
14496           James Harden  0.000    0.103916         20          10

In [52]:
combination = combination.sort_values(by = ["Share"] , ascending = False)
rank_df = rank_df.sort_values(by = ["Share"] , ascending = False)

In [53]:
combination.head(10)

                      Player  Share  prediction  RK_actual  RK_predict
14554           Nikola Jokić  0.875    0.188931          1           3
14497            Joel Embiid  0.706    0.190322          2           2
14203  Giannis Antetokounmpo  0.595    0.218988          3           1
14261           Devin Booker  0.216    0.091401          4          17
14165            Luka Dončić  0.146    0.156639          5           5
14454           Jayson Tatum  0.043    0.094236          6          14
14513              Ja Morant  0.010    0.120550          7           7
14322          Stephen Curry  0.004    0.092080          8          15
14263             Chris Paul  0.002    0.078460          9          21
14494          DeMar DeRozan  0.001    0.100174         11          11

In [54]:
df_test = rank_df.head()

In [55]:
df_test

                      Player  Share  prediction  RK_actual  RK_predict
14554           Nikola Jokić  0.875    0.188931          1           3
14497            Joel Embiid  0.706    0.190322          2           2
14203  Giannis Antetokounmpo  0.595    0.218988          3           1
14261           Devin Booker  0.216    0.091401          4          11
14165            Luka Dončić  0.146    0.156639          5           5

In [56]:
y_actual_test = df_test["RK_actual"]
y_pred_test = df_test["RK_predict"]

In [57]:
# y_actual_test
# y_pred_test

In [58]:
from sklearn.metrics import mean_squared_error

In [59]:
r2_score(y_actual_test , y_pred_test)

-4.7

In [60]:
np.sqrt(mean_squared_error(y_actual_test , y_pred_test))

3.3763886032268267

In [61]:
df_test

                      Player  Share  prediction  RK_actual  RK_predict
14554           Nikola Jokić  0.875    0.188931          1           3
14497            Joel Embiid  0.706    0.190322          2           2
14203  Giannis Antetokounmpo  0.595    0.218988          3           1
14261           Devin Booker  0.216    0.091401          4          11
14165            Luka Dončić  0.146    0.156639          5           5

In [62]:
df_test["Player"]

14554             Nikola Jokić
14497              Joel Embiid
14203    Giannis Antetokounmpo
14261             Devin Booker
14165              Luka Dončić
Name: Player, dtype: object

In [63]:
df_test.loc[14554]["Player"] in df_test["Player"]

False

In [64]:
df_test.loc[14554]["Player"]

'Nikola Jokić'

In [65]:
df_test["Player"].str.contains(df_test.loc[14554]["Player"])

14554     True
14497    False
14203    False
14261    False
14165    False
Name: Player, dtype: bool

In [66]:
df_test.loc[14554]["Player"] in list(df_test["Player"].values)

True

In [67]:
for index , row in df_test.iterrows():
    
    print(index)
    print(row)

14554
Player        Nikola Jokić
Share                0.875
prediction        0.188931
RK_actual                1
RK_predict               3
Name: 14554, dtype: object
14497
Player        Joel Embiid
Share               0.706
prediction       0.190322
RK_actual               2
RK_predict              2
Name: 14497, dtype: object
14203
Player        Giannis Antetokounmpo
Share                         0.595
prediction                 0.218988
RK_actual                         3
RK_predict                        1
Name: 14203, dtype: object
14261
Player        Devin Booker
Share                0.216
prediction        0.091401
RK_actual                4
RK_predict              11
Name: 14261, dtype: object
14165
Player        Luka Dončić
Share               0.146
prediction       0.156639
RK_actual               5
RK_predict              5
Name: 14165, dtype: object

In [68]:
def acc_metric(DF):
    
    actual = DF.sort_values(by = ["Share"] , ascending = False).head(5)
    predicted = DF.sort_values(by = ["prediction"] , ascending = False).head(5)
    
    act_play_list = actual["Player"].values
    pred_play_list = predicted["Player"].values
    print("Actual: ", act_play_list)
    print("Predicted: ", pred_play_list)
    
    count = 0
    for player_name in act_play_list:
        
        if player_name in pred_play_list:
            count+=1
            
    return count/len(act_play_list)

In [69]:
acc_metric(DF = rank_df)

Actual:  ['Nikola Jokić' 'Joel Embiid' 'Giannis Antetokounmpo' 'Devin Booker'
 'Luka Dončić']
Predicted:  ['Giannis Antetokounmpo' 'Joel Embiid' 'Nikola Jokić' 'LeBron James'
 'Luka Dončić']

0.8

In [70]:
rank_df

                      Player  Share  prediction  RK_actual  RK_predict
14554           Nikola Jokić  0.875    0.188931          1           3
14497            Joel Embiid  0.706    0.190322          2           2
14203  Giannis Antetokounmpo  0.595    0.218988          3           1
14261           Devin Booker  0.216    0.091401          4          11
14165            Luka Dončić  0.146    0.156639          5           5
14454           Jayson Tatum  0.043    0.094236          6           9
14513              Ja Morant  0.010    0.120550          7           7
14322          Stephen Curry  0.004    0.092080          8          10
14263             Chris Paul  0.002    0.078460          9          12
14363           LeBron James  0.001    0.157545         10           4
14635           Kevin Durant  0.001    0.140687         12           6
14494          DeMar DeRozan  0.001    0.100174         11           8

In [71]:
def acc_metric(DF):
    
    actual = DF.sort_values(by = ["Share"] , ascending = False).head(5)
    predicted = DF.sort_values(by = ["prediction"] , ascending = False).head(5)
    
    act_play_list = actual["Player"].values
    pred_play_list = predicted["Player"].values
    #print("Actual: ", act_play_list)
    #print("Predicted: ", pred_play_list)
    
    score_list = []
    for player_name in act_play_list:
        
        if player_name in pred_play_list:
            score_list.append(1)
        
        else:
            
            rank_predicted = DF[DF["Player"] == "Devin Booker"]["RK_predict"].iloc[0]
            penalty = np.round(5/rank_predicted,3)
            score_list.append(penalty)
            
    # print(f"Accuracy Score for the NBA Season : {year}")        
    accuracy = np.round(sum(score_list)/len(score_list),2)
    
    return score_list, accuracy

In [72]:
rank_df

                      Player  Share  prediction  RK_actual  RK_predict
14554           Nikola Jokić  0.875    0.188931          1           3
14497            Joel Embiid  0.706    0.190322          2           2
14203  Giannis Antetokounmpo  0.595    0.218988          3           1
14261           Devin Booker  0.216    0.091401          4          11
14165            Luka Dončić  0.146    0.156639          5           5
14454           Jayson Tatum  0.043    0.094236          6           9
14513              Ja Morant  0.010    0.120550          7           7
14322          Stephen Curry  0.004    0.092080          8          10
14263             Chris Paul  0.002    0.078460          9          12
14363           LeBron James  0.001    0.157545         10           4
14635           Kevin Durant  0.001    0.140687         12           6
14494          DeMar DeRozan  0.001    0.100174         11           8

In [73]:
rank_df[rank_df["Player"] == "Devin Booker"]["RK_predict"].iloc[0]

11

In [74]:
acc_metric(DF = rank_df )

([1, 1, 1, 0.455, 1], 0.89)

## Back Testing

In [75]:
years = list(range(1991,2023))

In [76]:
predictor = ['Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
        'W', 'L', 'W/L%', 'GB', 'PS/G','PA/G', 'SRS']

In [77]:
from sklearn.linear_model import Ridge

In [78]:
# years

In [79]:
# def acc_metric(DF,year):
    
#     actual = DF.sort_values(by = ["Share"] , ascending = False).head(5)
#     predicted = DF.sort_values(by = ["prediction"] , ascending = False).head(5)
    
#     act_play_list = actual["Player"].values
#     pred_play_list = predicted["Player"].values
#     #print("Actual: ", act_play_list)
#     #print("Predicted: ", pred_play_list)
    
#     count = 0
#     for player_name in act_play_list:
        
#         if player_name in pred_play_list:
#             count+=1
#     # print(f"Accuracy Score for the NBA Season : {year}")        
#     accuracy = count/len(act_play_list)
    
#     return accuracy

In [93]:
def acc_metric(DF):
    
    actual = DF.sort_values(by = ["Share"] , ascending = False).head(5)
    #print(actual)
    predicted = DF.sort_values(by = ["prediction"] , ascending = False).head(5)
    #print(predicted)
    
    act_play_list = actual["Player"].values

    pred_play_list = predicted["Player"].values
    #print("Actual: ", act_play_list)
    #print("Predicted: ", pred_play_list)
    
    score_list = []
    for player_name in act_play_list:
        
        if player_name in pred_play_list:
            score_list.append(1)
            #print(score_list)
        
        else:
            
            rank_predicted = DF[DF["Player"] == player_name]["RK_predict"].iloc[0]
            penalty = np.round(5/rank_predicted,3)
            score_list.append(penalty)
            #print(score_list)
            
    # print(f"Accuracy Score for the NBA Season : {year}")        
    accuracy = np.round(sum(score_list)/len(score_list),2)
    
    return score_list, accuracy

In [94]:
accuracy_score = []

for year in years[5:]:
    
    d_train = stats[stats["Year"] < year]
    d_test = stats[stats["Year"]  == year]
    
    # print(d_test)
    X_train = d_train[predictor]
    #print(X_train)
    y_train = d_train["Share"]
    # print(y_train)
    X_test =  d_test[predictor]
    # print(X_test)
    y_test =  d_test["Share"] 
    #print(y_test)
    
    
    reg = Ridge(alpha = 0.1)

    reg.fit(X_train , y_train)
    
    predictions = reg.predict(X_test)
    
    # print(len(predictions))
    # X_test.index

    pred_DF = pd.DataFrame(data = predictions , columns = ["prediction"] , index = X_test.index )
    
    combination  = pd.concat([d_test[["Player" , "Share"]] ,pred_DF ], axis = 1)
    
    # print(combination)
    rank_df = combination.copy()
    
    rank_df = rank_df[rank_df["Share"] > 0]
    
    # print(rank_df)
    
    # Sorting for Actual ranking
    rank_df = rank_df.sort_values(by = ["Share"] , ascending = False )
    # Assigning Actual Rank
    rank_df["RK_actual"] = list(range(1,len(rank_df)+1))
    
    #print(rank_df)
    
    # Sorting for Predicted Rank
    rank_df = rank_df.sort_values(by = ["prediction"] , ascending = False)
    # Assigning Predicted Rank
    rank_df["RK_predict"] = list(range(1,len(rank_df)+1))
    
    #print(rank_df)
    
    # acc_metric(DF = rank_df , year = year)
    accuracy_list , accuracy = acc_metric(DF = rank_df)
    accuracy_score.append(accuracy)
    
    print(f"Accuracy Score list for the NBA Season {year} : {accuracy_list}")
    print(f"Accuracy Score for the NBA Season {year} : {accuracy}\n\n")
          
#print(f"Average Accuracy Score Accross all seasons : {sum(accuracy_score)/len(accuracy_score)}")

Accuracy Score list for the NBA Season 1996 : [1, 1, 0.5, 1, 0.417]
Accuracy Score for the NBA Season 1996 : 0.78


Accuracy Score list for the NBA Season 1997 : [1, 1, 1, 0.357, 0.278]
Accuracy Score for the NBA Season 1997 : 0.73


Accuracy Score list for the NBA Season 1998 : [1, 1, 0.625, 1, 1]
Accuracy Score for the NBA Season 1998 : 0.92


Accuracy Score list for the NBA Season 1999 : [1, 1, 0.833, 0.455, 0.357]
Accuracy Score for the NBA Season 1999 : 0.73


Accuracy Score list for the NBA Season 2000 : [1, 0.833, 1, 1, 0.714]
Accuracy Score for the NBA Season 2000 : 0.91


Accuracy Score list for the NBA Season 2001 : [0.833, 1, 1, 1, 1]
Accuracy Score for the NBA Season 2001 : 0.97


Accuracy Score list for the NBA Season 2002 : [1, 0.312, 1, 1, 0.714]
Accuracy Score for the NBA Season 2002 : 0.81


Accuracy Score list for the NBA Season 2003 : [1, 1, 0.833, 1, 1]
Accuracy Score for the NBA Season 2003 : 0.97


Accuracy Score list for the NBA Season 2004 : [1, 1, 1, 0.357, 0.833]
Accuracy Score for the NBA Season 2004 : 0.84


Accuracy Score list for the NBA Season 2005 : [0.357, 1, 1, 1, 0.625]
Accuracy Score for the NBA Season 2005 : 0.8


Accuracy Score list for the NBA Season 2006 : [0.5, 1, 0.714, 1, 0.455]
Accuracy Score for the NBA Season 2006 : 0.73


Accuracy Score list for the NBA Season 2007 : [0.833, 0.357, 0.714, 1, 1]
Accuracy Score for the NBA Season 2007 : 0.78


Accuracy Score list for the NBA Season 2008 : [0.625, 1, 1, 1, 1]
Accuracy Score for the NBA Season 2008 : 0.92


Accuracy Score list for the NBA Season 2009 : [1, 0.714, 1, 1, 1]
Accuracy Score for the NBA Season 2009 : 0.94


Accuracy Score list for the NBA Season 2010 : [1, 0.833, 0.714, 1, 1]
Accuracy Score for the NBA Season 2010 : 0.91


Accuracy Score list for the NBA Season 2011 : [0.556, 1, 1, 0.714, 0.833]
Accuracy Score for the NBA Season 2011 : 0.82


Accuracy Score list for the NBA Season 2012 : [1, 1, 0.833, 0.556, 0.625]
Accuracy Score for the NBA Season 2012 : 0.8


Accuracy Score list for the NBA Season 2013 : [1, 1, 0.5, 0.833, 1]
Accuracy Score for the NBA Season 2013 : 0.87


Accuracy Score list for the NBA Season 2014 : [1, 1, 1, 0.294, 0.5]
Accuracy Score for the NBA Season 2014 : 0.76


Accuracy Score list for the NBA Season 2015 : [1, 1, 1, 1, 1]
Accuracy Score for the NBA Season 2015 : 1.0


Accuracy Score list for the NBA Season 2016 : [1, 0.714, 1, 1, 1]
Accuracy Score for the NBA Season 2016 : 0.94


Accuracy Score list for the NBA Season 2017 : [1, 1, 0.714, 1, 0.625]
Accuracy Score for the NBA Season 2017 : 0.87


Accuracy Score list for the NBA Season 2018 : [1, 1, 1, 0.556, 0.714]
Accuracy Score for the NBA Season 2018 : 0.85


Accuracy Score list for the NBA Season 2019 : [1, 1, 0.625, 0.556, 0.5]
Accuracy Score for the NBA Season 2019 : 0.74


Accuracy Score list for the NBA Season 2020 : [1, 1, 1, 1, 0.833]
Accuracy Score for the NBA Season 2020 : 0.97


Accuracy Score list for the NBA Season 2021 : [1, 1, 0.714, 1, 0.385]
Accuracy Score for the NBA Season 2021 : 0.82


Accuracy Score list for the NBA Season 2022 : [1, 1, 1, 0.455, 1]
Accuracy Score for the NBA Season 2022 : 0.89

In [95]:
print(accuracy_score)

[0.78, 0.73, 0.92, 0.73, 0.91, 0.97, 0.81, 0.97, 0.84, 0.8, 0.73, 0.78, 0.92, 0.94, 0.91, 0.82, 0.8, 0.87, 0.76, 1.0, 0.94, 0.87, 0.85, 0.74, 0.97, 0.82, 0.89]

In [97]:
np.round(sum(accuracy_score)/len(accuracy_score),2)

0.85